<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.ActivityDao">
	<resultMap id="qActivityResultMap" type="com.yuedi.entity.Activity">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="Category" property="Category" jdbcType="INTEGER" />
		<result column="ActivityName" property="ActivityName" jdbcType="VARCHAR" />
		<result column="ActivityType" property="ActivityType" jdbcType="INTEGER" />
		<result column="Address" property="Address" jdbcType="VARCHAR" />
		<result column="Details" property="Details" jdbcType="VARCHAR" />
		<result column="Img" property="Img" jdbcType="VARCHAR" />
		<result column="ReviewStatus" property="ReviewStatus" jdbcType="INTEGER" />
		<result column="StartTime" property="StartTime" jdbcType="VARCHAR" />
		<result column="EndTime" property="EndTime" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="INTEGER" />
		<result column="city" property="city" jdbcType="INTEGER" />
		<result column="area" property="area" jdbcType="INTEGER" />
		<result column="CreateDateTime" property="CreateDateTime" jdbcType="TIMESTAMP" />
		<result column="CreaterName" property="CreaterName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findListActivityByLimit" parameterType="com.yuedi.entity.Activity"
		resultMap="qActivityResultMap">
		SELECT *
		FROM activity t
		ORDER BY id desc
	</select>


	<select id="findCountByActivity" parameterType="com.yuedi.entity.Activity"
		resultType="java.lang.Integer">
		SELECT count(*) FROM activity t
	</select>

	<insert id="insertActivity" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.yuedi.entity.Activity">
		INSERT INTO activity (Category,
		ActivityName,
		ActivityType,
		Address,
		Details,
		Img,
		ReviewStatus,
		StartTime,
		EndTime,
		province,
		city,
		area,
		CreateDateTime,
		CreaterName,
		Groupid,
		seller_id,
		seller_name)
		VALUES (
		#{Category},
		#{ActivityName},
		#{ActivityType},
		#{Address},
		#{Details},
		#{Img},
		#{ReviewStatus},
		#{StartTime},
		#{EndTime},
		#{province},
		#{city},
		#{area},
		#{CreateDateTime},
		#{CreaterName},
		#{Groupid},
		#{sellerId},
		#{sellerName}
		)
	</insert>


	<update id="updateActivity" parameterType="com.yuedi.entity.Activity">
		UPDATE activity
		SET
		Category=#{Category,jdbcType=INTEGER}
		, ActivityName=#{ActivityName,jdbcType=VARCHAR}
		, ActivityType=#{ActivityType,jdbcType=INTEGER}
		, Address=#{Address,jdbcType=VARCHAR}
		, Details=#{Details,jdbcType=VARCHAR}
		, Img=#{Img,jdbcType=VARCHAR}
		, StartTime=#{StartTime,jdbcType=TIMESTAMP}
		, EndTime=#{EndTime,jdbcType=TIMESTAMP}
		, province=#{province,jdbcType=INTEGER}
		, city=#{city,jdbcType=INTEGER}
		, area=#{area,jdbcType=INTEGER}
		WHERE id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findActivityById" resultMap="qActivityResultMap"
		parameterType="java.io.Serializable">
		SELECT *
		FROM activity
		WHERE id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteActivityById" parameterType="Integer">
		DELETE FROM activity
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>
	<select id="selectAcImgById" parameterType="Integer" resultType="java.lang.String">
		select img from activity where id=#{id}
	</select>
	<update id="updateReviewStatus" parameterType="com.yuedi.entity.Activity">
		UPDATE activity SET ReviewStatus=#{ReviewStatus} WHERE id=#{id}
	</update>
	<select id="selectAcGroupIdById" parameterType="Integer"
		resultType="java.lang.String">
		select Groupid from activity where id=#{id}
	</select>
</mapper>