<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.AnnouncementDao">
	<resultMap id="announcementResult" type="announcement">
		<result column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result column="title" property="title" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result column="content" property="content" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result column="createDateTime" property="createDateTime"
			jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="startTime" property="startTime" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result column="endTime" property="endTime" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result column="createrName" property="createrName" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result column="isPublish" property="isPublish" jdbcType="INTEGER"
			javaType="Integer" />
		<result column="seller_id" property="sellerId" jdbcType="BIGINT"
			javaType="java.lang.Long" />
	</resultMap>
	<insert id="insertAnnouncement" parameterType="announcement"
		useGeneratedKeys="true" keyProperty="id">
		insert into announcement
		(title,content,createDateTime,startTime,endTime,createrName,isPublish,seller_id)
		values
		(#{title},#{content},#{createDateTime},#{startTime},#{endTime},#{createrName},#{isPublish},#{sellerId})
	</insert>
	<delete id="deleteAnnouncementById" parameterType="Integer">
		delete from announcement where id=#{id}
	</delete>
	<update id="updateAnnouncement" parameterType="announcement">
		update announcement set
		title=#{title},
		content=#{content},
		createDateTime=#{createDateTime},
		startTime=#{startTime},
		endTime=#{endTime},
		createrName=#{createrName},
		isPublish=#{isPublish},
		seller_id=#{sellerId}
		where id=#{id}
	</update>

	<select id="selectAnnouncementById" parameterType="Integer"
		resultMap="announcementResult">
		select * from announcement where id=#{id} order by createDateTime desc
	</select>

	<select id="selectAnnouncementLimit" resultMap="announcementResult">
		select * from announcement order by createDateTime desc
	</select>


</mapper>