<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">	
<mapper namespace="com.yuedi.dao.AppClientDao">
	<resultMap type="appRegister"  id="appRegisterResult">
		<result property="userName" column="UserName" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="createDateTime" column="CreateDateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result property="sellerName" column="Name" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="salerId" column="saler_ID" jdbcType="BIGINT" javaType="java.lang.Long" />
		<result property="tel" column="Tel" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="birthday" column="Birthday" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result property="loginTime" column="UpdateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result property="sex" column="Sex" jdbcType="INTEGER" javaType="Integer"/>
		<result property="hospitalName" column="hospital_name" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="provinceId" column="Province" jdbcType="INTEGER" javaType="Integer" />
		<result property="cityId" column="City" jdbcType="INTEGER" javaType="Integer" />
	</resultMap>
	<select id="selectCountofmumfansuser"  parameterType="appRegister"  resultType="java.lang.Long">
        SELECT COUNT(ID)
		FROM userinfo2c
		WHERE 1=1
	    <if test="fullName != null">
		AND fullName = #{fullName}
	 </if>
	     <if test="userName != null">
		AND userName  = #{userName}
	 </if>
	</select>
	<select id="getAllAppRegister" parameterType="appRegister"  resultMap="appRegisterResult">
	    select ui.UserName,ui.CreateDateTime,ui.Tel,ui.Birthday,ui.Province,ui.City,ui.Updatetime,ui.Sex,su.saler_ID,s.name,hm.hospital_name
	    		from userinfo2c ui LEFT JOIN saler_usero2c su on ui.ID=su.user_ID 
	    			left join seller s ON su.seller_ID =s.ID LEFT JOIN hospital_management hm on ui.HospID=hm.id where 1=1 
		 <if test="params.userName != null and params.userName !='' ">
			and ui.UserName =#{params.userName}
		 </if>	
		 <if test="params.tel != null and params.tel !='' ">
			and ui.Tel =#{params.tel}
		 </if>
		 <if test="params.registerStartTime !=null and params.registerStartTime !='' ">
		  	and ui.CreateDateTime   <![CDATA[ >= ]]> #{params.registerStartTime}
		 </if>
		 <if test="params.registerEndTime !=null and params.registerEndTime !='' ">
		  	and ui.CreateDateTime   <![CDATA[ <= ]]> #{params.registerEndTime}
		 </if>
		 <if test="params.birthday !=null and params.birthday !='' ">
		  	and ui.Birthday   <![CDATA[ = ]]> #{params.birthday}
		 </if>
		 <if test="params.provinceId != 0 ">
			and ui.Province =#{params.provinceId}
		 </if>
		 <if test="params.cityId != 0 ">
			and ui.City =#{params.cityId}
		 </if>
		 <if test="params.loginStartTime !=null and params.loginStartTime !='' ">
		  	and ui.Updatetime   <![CDATA[ >= ]]> #{params.loginStartTime}
		 </if>
		 <if test="params.loginEndTime !=null and params.loginEndTime !='' ">
		  	and ui.Updatetime   <![CDATA[ <= ]]> #{params.loginEndTime}
		 </if>
		 <if test="params.sex !=0 ">
			and ui.Sex =#{params.sex}
		 </if>
		 <if test="params.sellerBySelect != null and params.sellerBySelect !='' ">
			and su.seller_ID =#{params.sellerBySelect}
		 </if>
		 <if test="params.hospital != null and params.hospital !='' ">
			and ui.HospID =#{params.hospital}
		 </if>
		 <if test="params.salerId ==1 ">
			and su.saler_ID is not null
		 </if>
		 <if test="params.salerId ==2 ">
			and su.saler_ID is null
		 </if>
		  ORDER BY ui.CreateDateTime DESC
	</select>
	<select id="getAllAppRegisterBySellerId" parameterType="appRegister"
		resultMap="appRegisterResult">
		select ui.UserName,ui.CreateDateTime,ui.Tel,ui.Birthday,ui.Province,ui.City,ui.Updatetime,ui.Sex,su.saler_ID,s.name,hm.hospital_name
	    		from userinfo2c ui LEFT JOIN saler_usero2c su on ui.ID=su.user_ID 
	    			left join seller s ON su.seller_ID =s.ID LEFT JOIN hospital_management hm on ui.HospID=hm.id where su.seller_ID=#{params.sellerId}
		 <if test="params.userName != null and params.userName !='' ">
			and ui.UserName =#{params.userName}
		 </if>	
		 <if test="params.tel != null and params.tel !='' ">
			and ui.Tel =#{params.tel}
		 </if>
		 <if test="params.registerStartTime !=null and params.registerStartTime !='' ">
		  	and ui.CreateDateTime   <![CDATA[ >= ]]> #{params.registerStartTime}
		 </if>
		 <if test="params.registerEndTime !=null and params.registerEndTime !='' ">
		  	and ui.CreateDateTime   <![CDATA[ <= ]]> #{params.registerEndTime}
		 </if>
		 <if test="params.birthday !=null and params.birthday !='' ">
		  	and ui.Birthday   <![CDATA[ = ]]> #{params.birthday}
		 </if>
		 <if test="params.provinceId != 0 ">
			and ui.Province =#{params.provinceId}
		 </if>
		 <if test="params.cityId != 0 ">
			and ui.City =#{params.cityId}
		 </if>
		 <if test="params.loginStartTime !=null and params.loginStartTime !='' ">
		  	and ui.Updatetime   <![CDATA[ >= ]]> #{params.loginStartTime}
		 </if>
		 <if test="params.loginEndTime !=null and params.loginEndTime !='' ">
		  	and ui.Updatetime   <![CDATA[ <= ]]> #{params.loginEndTime}
		 </if>
		 <if test="params.sex !=0 ">
			and ui.Sex =#{params.sex}
		 </if>
		 <if test="params.sellerBySelect != null and params.sellerBySelect !='' ">
			and su.seller_ID =#{params.sellerBySelect}
		 </if>
		 <if test="params.hospital != null and params.hospital !='' ">
			and ui.HospID =#{params.hospital}
		 </if>
		 <if test="params.salerId ==1 ">
			and su.saler_ID is not null
		 </if>
		 <if test="params.salerId ==2 ">
			and su.saler_ID is null
		 </if>
		  ORDER BY ui.CreateDateTime DESC
	</select>
</mapper>