<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.workFlow.ApprovalOpinionDao" >
  <resultMap id="BaseResultMap" type="com.yuedi.entity.workFlow.ApprovalOpinion" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="process_id" property="processId" jdbcType="BIGINT" />
    <result column="node_id" property="nodeId" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="instance_id" property="instanceId" jdbcType="BIGINT" />
    <result column="opinion" property="opinion" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, process_id, node_id, task_id, instance_id, opinion, create_time, create_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from approval_opinion
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from approval_opinion
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yuedi.entity.workFlow.ApprovalOpinion" useGeneratedKeys="true" keyProperty="id">
    insert into approval_opinion (id, process_id, node_id, 
      task_id, instance_id, opinion, 
      create_time, create_user)
    values (#{id,jdbcType=BIGINT}, #{processId,jdbcType=BIGINT}, #{nodeId,jdbcType=BIGINT}, 
      #{taskId,jdbcType=BIGINT}, #{instanceId,jdbcType=BIGINT}, #{opinion,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yuedi.entity.workFlow.ApprovalOpinion" useGeneratedKeys="true" keyProperty="id">
    insert into approval_opinion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processId != null" >
        process_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="instanceId != null" >
        instance_id,
      </if>
      <if test="opinion != null" >
        opinion,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="opinion != null" >
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuedi.entity.workFlow.ApprovalOpinion" >
    update approval_opinion
    <set >
      <if test="processId != null" >
        process_id = #{processId,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null" >
        instance_id = #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="opinion != null" >
        opinion = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuedi.entity.workFlow.ApprovalOpinion" >
    update approval_opinion
    set process_id = #{processId,jdbcType=BIGINT},
      node_id = #{nodeId,jdbcType=BIGINT},
      task_id = #{taskId,jdbcType=BIGINT},
      instance_id = #{instanceId,jdbcType=BIGINT},
      opinion = #{opinion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>