<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.CountSysDao">
	<select id="Classcnt" parameterType="java.lang.Integer" resultType="com.yuedi.vo.ClassCntVo">
		select ct.name as ClassName,count(yc.class_type) as num from class_type as ct left join yuedi_classcnt as yc on ct.id = yc.class_type 
		where status=#{_parameter}
		group by ct.id order by num
	</select>
	
	<select id="Ordercnt" parameterType="java.lang.Integer" resultType="com.yuedi.vo.OrderCntVo">
		select yo.name as OrderName,count(yc.order_type) as num from yuedi_ordertype as yo left join yuedi_ordercnt as yc on yo.id = yc.order_type 
		where status=#{_parameter}
		group by yo.id order by num
	</select>
	<select id="Clipcnt" parameterType="java.lang.Integer" resultType="com.yuedi.vo.ClipCntVo">
		select count(*) as num from clip_url
	</select>
	<select id="Popcnt" parameterType="java.lang.Integer" resultType="com.yuedi.vo.ClipCntVo">
		select count(DISTINCT UserName) as num from clip_url
	</select>
	<select id="Testcnt" parameterType="java.lang.Integer" resultType="com.yuedi.vo.ClipCntVo">
		select count(DISTINCT user_id) as num from yuedi_papercount
	</select>
	<select id="Workcnt" parameterType="java.lang.Integer" resultType="com.yuedi.vo.ClassCntVo">
		select ct.name as className,count(ci.class_id) as num from class_type as ct left join class_interaction as ci on ct.ID = ci.Class_ID 
		<if test= "_parameter == 1">
			where content is not null
		</if>
		<if test= "_parameter == 2">
			where Img is not null
		</if>
		<if test= "_parameter == 3">
			where sounds is not null
		</if>
		group by ct.id order by num
	</select>
	<select id="classNum" parameterType="java.lang.Integer" resultType="com.yuedi.vo.ClipCntVo">
		select count(*) as num from yuedi_classcnt
	</select>
	<select id="workNum" parameterType="java.lang.Integer" resultType="com.yuedi.vo.ClipCntVo">
		select count(*) as num from class_interaction
	</select>
</mapper>