<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuedi.dao.CustomerInfoDao">
	<resultMap type="customerInfo"  id="customerInfoResult">
		<result property="id" column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="code" column="Code" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="name" column="Name" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="nickName" column="NickName" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="sex" column="Sex" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result property="mobilePhone" column="MobilePhone" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="email" column="Email" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="bornDate" column="BornDate" jdbcType="DATE" javaType="java.util.Date"/>
		<result property="cardCode" column="CardCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="source" column="Source" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result property="qq" column="qq" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result property="weChat" column="weChat" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="franchiseesId" column="FranchiseesId" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="isStudent" column="IsStudent" jdbcType="BIT" javaType="java.lang.Boolean"/>
		<result property="isDeleteFlag" column="IsDeleteFlag" jdbcType="BIT" javaType="java.lang.Boolean"/>
		<result property="createrId" column="createrId" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="createrName" column="createrName" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="createDateTime" column="createDateTime" jdbcType="DATE" javaType="java.util.Date"/>
	</resultMap>
	<insert id="insertCustomerInfo" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="customerInfo">
		INSERT INTO  CustomerInfo 
						(Code,	Name, NickName, Sex, MobilePhone, Email, BornDate, 
							CardCode, Source, IsStudent, CreaterName, CreaterId, FranchiseesId,createDateTime,qq,weChat)
		VALUES	(#{code},	#{name}, #{nickName}, #{sex}, #{mobilePhone}, #{email}, #{bornDate}, 
							#{cardCode}, #{source}, #{isStudent}, #{createrName}, #{createrId}, #{franchiseesId},#{createDateTime},
							#{qq},#{weChat});
	</insert>
	<update id="updateCustomerInfoById" parameterType="customerInfo">
		UPDATE CustomerInfo SET
			Name = #{name}, Nickname = #{nickName}, Sex =  #{sex}, 
			MobilePhone = #{mobilePhone}, Email = #{email}, BornDate = #{bornDate}, 
			CardCode = #{cardCode}, Source = #{source}, IsStudent = #{isStudent},qq=#{qq},weChat=#{weChat}
		WHERE ID = #{id}
	</update>
	<select id="selectCustomerInfoById" parameterType="java.lang.Long" resultMap="customerInfoResult">
		SELECT 	ID, CODE, NAME, Nickname, Sex, 
			MobilePhone, Email, 	BornDate, CardCode, 
			Source, IsStudent, IsDeleteFlag, 
			CreaterId, CreaterName, CreateDateTime,FranchiseesId
		FROM 
			customerinfo 
		WHERE ID = #{id}
	</select>
	<select id="selectCustomerInfoByFranchiseesId" parameterType="java.lang.Long" resultMap="customerInfoResult">
		SELECT 	ID, CODE, NAME, Nickname, Sex, 
			MobilePhone, Email, 	BornDate, CardCode, 
			Source, IsStudent, IsDeleteFlag, 
			CreaterId, CreaterName, CreateDateTime,FranchiseesId,qq,weChat
		FROM customerinfo 
		WHERE FranchiseesId = #{franchiseesId}
	</select>
	<select id="selectCustomerInfoByLimit" resultMap="customerInfoResult">
		select 
		c.id, c.Code, c.Name, c.NickName, c.Sex, c.MobilePhone, c.Email, c.BornDate, c.CardCode, c.Source, c.IsStudent, c.CreaterName, c.CreaterId, c.FranchiseesId, c.createDateTime,c.qq,c.weChat,
		s.name as sellerName
		from CustomerInfo c, seller s
		<where>
			 c.FranchiseesId = s.id and c.IsStudent = 0
			<if test="params.franchiseesId != null">
				and c.FranchiseesId = #{params.franchiseesId}
			</if>
			<if test="params.name != null">
				and c.Name = #{params.name}
			</if>
		</where>
		order by c.IsStudent asc
	</select>
</mapper>