<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.HospitalManagementDao" >
  <resultMap id="hospitalManagementResultMap" type="hospitalManagement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="nature" property="nature" jdbcType="BIGINT" />
    <result column="hospital_type" property="hospitalType" jdbcType="BIGINT" />
    <result column="hospital_code" property="hospitalCode" jdbcType="VARCHAR" />
    <result column="ccale" property="ccale" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county_id" property="countyId" jdbcType="BIGINT" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hospital_name, nature, hospital_type, hospital_code, ccale, province_id, province, 
    city_id, city, county_id, county, address, telephone, introduce, remark
  </sql>
  <!-- <select id="selectByPrimaryKey" resultMap="hospitalManagementResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_management
    where id = #{id,jdbcType=BIGINT}
  </select> -->
  <select id="selectHospitalManagementAll" resultMap="hospitalManagementResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_management
  </select>
  <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hospital_management
    where id = #{id,jdbcType=BIGINT}
  </delete> -->
  <!-- <insert id="insert" parameterType="hospitalManagement" useGeneratedKeys="true" keyProperty="id">
    insert into hospital_management (id, hospital_name, nature, 
      hospital_type, hospital_code, ccale, 
      province_id, province, city_id, 
      city, county_id, county, 
      address, telephone, introduce, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{hospitalName,jdbcType=VARCHAR}, #{nature,jdbcType=BIGINT}, 
      #{hospitalType,jdbcType=BIGINT}, #{hospitalCode,jdbcType=VARCHAR}, #{ccale,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=BIGINT}, #{province,jdbcType=VARCHAR}, #{cityId,jdbcType=BIGINT}, 
      #{city,jdbcType=VARCHAR}, #{countyId,jdbcType=BIGINT}, #{county,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hospitalManagement" >
    insert into hospital_management
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hospitalName != null" >
        hospital_name,
      </if>
      <if test="nature != null" >
        nature,
      </if>
      <if test="hospitalType != null" >
        hospital_type,
      </if>
      <if test="hospitalCode != null" >
        hospital_code,
      </if>
      <if test="ccale != null" >
        ccale,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="nature != null" >
        #{nature,jdbcType=BIGINT},
      </if>
      <if test="hospitalType != null" >
        #{hospitalType,jdbcType=BIGINT},
      </if>
      <if test="hospitalCode != null" >
        #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="ccale != null" >
        #{ccale,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=BIGINT},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hospitalManagement" >
    update hospital_management
    <set >
      <if test="hospitalName != null" >
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="nature != null" >
        nature = #{nature,jdbcType=BIGINT},
      </if>
      <if test="hospitalType != null" >
        hospital_type = #{hospitalType,jdbcType=BIGINT},
      </if>
      <if test="hospitalCode != null" >
        hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="ccale != null" >
        ccale = #{ccale,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=BIGINT},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hospitalManagement" >
    update hospital_management
    set hospital_name = #{hospitalName,jdbcType=VARCHAR},
      nature = #{nature,jdbcType=BIGINT},
      hospital_type = #{hospitalType,jdbcType=BIGINT},
      hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      ccale = #{ccale,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=BIGINT},
      province = #{province,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=BIGINT},
      city = #{city,jdbcType=VARCHAR},
      county_id = #{countyId,jdbcType=BIGINT},
      county = #{county,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>