<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.fm.InvitationCountDao" >
  <resultMap id="BaseResultMap" type="com.yuedi.entity.fm.InvitationCount" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="default_count" property="defaultCount" jdbcType="BIGINT" />
    <result column="add_count" property="addCount" jdbcType="BIGINT" />
    <result column="residue_count" property="residueCount" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_id, default_count, add_count, residue_count, create_user, create_time, 
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from seller_invitation_count
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectInvitationCountBySellerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller_invitation_count
    where seller_id = #{sellerId,jdbcType=BIGINT}
  </select>
  
  <select id="selectInvitationCountBySellerLimit" parameterType="MyPage" resultMap="BaseResultMap">
  	select
  	t1.id, t1.seller_id, t1.default_count, t1.add_count, t1.residue_count, t1.create_user, t1.create_time, t1.remark, (t1.default_count + t1.add_count) as allCount, (t1.default_count + t1.add_count-t1.residue_count) as yetCount, t2.name
  	from seller_invitation_count t1, seller t2
  	where t1.seller_id=t2.id
  	<if test="params.pid != null and params.pid !='' ">
  	and t1.seller_id = ${params.pid}
  	</if>
  </select>
  
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from seller_invitation_count
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yuedi.entity.fm.InvitationCount" useGeneratedKeys="true" keyProperty="id">
    insert into seller_invitation_count (id, seller_id, default_count, 
      add_count, residue_count, create_user, 
      create_time, remark)
    values (#{id,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, #{defaultCount,jdbcType=BIGINT}, 
      #{addCount,jdbcType=BIGINT}, #{residueCount,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuedi.entity.fm.InvitationCount" useGeneratedKeys="true" keyProperty="id">
    insert into seller_invitation_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="defaultCount != null" >
        default_count,
      </if>
      <if test="addCount != null" >
        add_count,
      </if>
      <if test="residueCount != null" >
        residue_count,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="defaultCount != null" >
        #{defaultCount,jdbcType=BIGINT},
      </if>
      <if test="addCount != null" >
        #{addCount,jdbcType=BIGINT},
      </if>
      <if test="residueCount != null" >
        #{residueCount,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuedi.entity.fm.InvitationCount" >
    update seller_invitation_count
    <set >
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="defaultCount != null" >
        default_count = #{defaultCount,jdbcType=BIGINT},
      </if>
      <if test="addCount != null" >
        add_count = #{addCount,jdbcType=BIGINT},
      </if>
      <if test="residueCount != null" >
        residue_count = #{residueCount,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuedi.entity.fm.InvitationCount" >
    update seller_invitation_count
    set seller_id = #{sellerId,jdbcType=BIGINT},
      default_count = #{defaultCount,jdbcType=BIGINT},
      add_count = #{addCount,jdbcType=BIGINT},
      residue_count = #{residueCount,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>