<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.fm.KnowledgeDao" >
  <resultMap id="knowledgeResultMap" type="com.yuedi.entity.fm.Knowledge" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
     <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectKnowledgeByPrimaryKey" resultMap="knowledgeResultMap"
		parameterType="java.lang.Integer">
		select *
		from yuedi_fm_knowledge
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteKnowledgeByPrimaryKey" parameterType="java.lang.Integer">
		delete from yuedi_fm_knowledge
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertKnowledge" parameterType="com.yuedi.entity.fm.Knowledge"
		useGeneratedKeys="true" keyProperty="id">
		 insert into yuedi_fm_knowledge (id, name, img, 
      ctime, content)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
	</insert>
	<update id="updateKnowledgeByPrimaryKey" parameterType="com.yuedi.entity.fm.Knowledge">
		 update yuedi_fm_knowledge
    set name = #{name,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectKnowledgeLimit" resultMap="knowledgeResultMap">
		select * from yuedi_fm_knowledge
	</select>
</mapper>