<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.OrderResourceDao">
	<resultMap id="orderResourceResultMap" type="com.yuedi.entity.OrderResource">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="Order_id" property="orderId" jdbcType="INTEGER" />
		<result column="Resource_id" property="resourceId" jdbcType="INTEGER" />
		<result column="Brand_ID" property="brandId" jdbcType="BIGINT" />
		<result column="Series_ID" property="seriesId" jdbcType="BIGINT" />
		<result column="tags" property="tags" jdbcType="VARCHAR" />
		<result column="resourceCode" property="resourceCode" jdbcType="VARCHAR" />
		<result column="displayName" property="displayName" jdbcType="VARCHAR" />
		<result column="resourceType" property="resourceType" jdbcType="VARCHAR" />
		<result column="resourceName" property="resourceName" jdbcType="VARCHAR" />
		<result column="name" property="seriesName" jdbcType="VARCHAR" />
		
	</resultMap>
	<select id="selectResourcebyOrderId" resultMap="orderResourceResultMap">
		select o.id,ri.resourceName,ri.displayName,ri.tags,ri.resourceCode 
		from yuedi_orderResource o,resourceinfo ri
		where o.Resource_id=ri.id 
		<if test="params.orderContentId != null ">
		 and o.Order_id=#{params.orderContentId} 
		 </if>
		ORDER BY o.id DESC
	</select>
	
	<delete id="deleteOrderResourceByPrimaryKey" parameterType="java.lang.Integer">
		delete from yuedi_OrderResource
		where id = #{id}
	</delete>
	<insert id="insertOrderResource" parameterType="com.yuedi.entity.OrderResource"
		useGeneratedKeys="true" keyProperty="id">
		insert into yuedi_OrderResource
		(Order_id, Resource_id)
		values (#{orderId}, #{resourceId})
	</insert>
	<!-- <select id="selectNoResourcebyOrderId" resultMap="orderResourceResultMap">
		SELECT
		r.id,r.resourceName,r.displayName,r.tags,r.resourceCode from
		resourceInfo r
		WHERE 1=1
		<if test="params.seriesId != null">
		 and r.Series_ID = #{params.seriesId}
		 </if>
		<if test="params.resourceType != null">
		AND r.resourceType =#{params.resourceType}
		 </if>
		<if test="params.brandId != null">
		AND r.Brand_ID = #{params.brandId}
		 </if>
		AND r.IsDeleteFlag = 0
		AND r.ID NOT IN 
		<if test="params.selectList!= null">
		<foreach collection="params.selectList" item="item"  index="index" open="(" separator="," close=")">
        #{params.selectList[${index}]}
        </foreach>
		</if>
		ORDER BY r.ID DESC
	</select> -->
	 <select id="selectNoResourcebyOrderId" parameterType="com.yuedi.entity.OrderResource" resultMap="orderResourceResultMap">
		SELECT
		r.id,r.resourceName,r.displayName,r.tags,r.resourceCode from
		resourceInfo r
		WHERE  r.Series_ID = #{seriesId}
		AND r.resourceType =#{resourceType} 
		AND r.Brand_ID = #{brandId}
		AND r.IsDeleteFlag = 0
		AND r.ID NOT IN (SELECT o.Resource_id from
		 yuedi_orderResource o where
		 o.Order_id=#{orderId})
		ORDER BY r.ID DESC
		</select>
	<select id="selectSeriesByBrandCategory" parameterType="com.yuedi.entity.OrderResource" resultMap="orderResourceResultMap">
		select id as Series_ID,name
	    from series 
	    where Brand_ID=#{brandId} and Category=#{resourceType}
	
	</select>
	<!-- <select id="allSelectResource" parameterType="com.yuedi.entity.OrderResource" resultMap="orderResourceResultMap">
		SELECT o.Resource_id from
		 yuedi_orderResource o where
		 o.Order_id=#{orderId}
	</select> -->
</mapper>