<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.OrderContentDao">
	<resultMap id="orderContentResultMap" type="com.yuedi.entity.OrderContent">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="illustrate" property="illustrate" jdbcType="VARCHAR" />
		<result column="order_type_id" property="orderTypeId" jdbcType="INTEGER" />
		<result column="is_del" property="isDel" jdbcType="TINYINT" />
		<result column="Ctime" property="ctime" jdbcType="TIMESTAMP" />
		<result column="name" property="orderTypeName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectOrderContentByPrimaryKey" resultMap="orderContentResultMap"
		parameterType="java.lang.Integer">
		select oc.*,ot.name from yuedi_orderContent oc,yuedi_orderType ot
		WHERE oc.id=#{id} and oc.is_del=0 and oc.order_type_id=ot.id
		order by oc.ctime desc
	</select>
	<update id="deleteOrderContentByPrimaryKey" parameterType="java.lang.Integer">
		update yuedi_orderContent set is_del=1
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<insert id="insertOrderContent" parameterType="com.yuedi.entity.OrderContent">
		insert into
		yuedi_orderContent (id, illustrate, order_type_id,
		is_del, Ctime)
		values (#{id,jdbcType=INTEGER}, #{illustrate,jdbcType=VARCHAR},
		#{orderTypeId,jdbcType=INTEGER},
		#{isDel,jdbcType=TINYINT},
		#{ctime,jdbcType=TIMESTAMP})
	</insert>

	<update id="updateOrderContentByPrimaryKey" parameterType="com.yuedi.entity.OrderContent">
		update yuedi_orderContent
		set illustrate =
		#{illustrate,jdbcType=VARCHAR},
		order_type_id =
		#{orderTypeId,jdbcType=INTEGER},
		is_del = #{isDel,jdbcType=TINYINT},
		Ctime = #{ctime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectOrderContentLimit" resultMap="orderContentResultMap">
		select oc.*,ot.name from yuedi_orderContent oc,yuedi_orderType ot
		WHERE oc.is_del=0 and oc.order_type_id=ot.id
		<if test="params.orderTypeId !=null">
			and oc.order_type_id= #{params.orderTypeId}
		</if>
		<if test="params.illustrate !=null">
			and oc.illustrate like #{params.illustrate}
		</if>
		order by oc.ctime desc
	</select>
</mapper>