<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.PermissionDao" >
  <resultMap id="PermissionResultMap" type="com.yuedi.entity.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Permission_Column_List" >
    id, name, value
  </sql>
  <select id="selectByPrimaryKey" resultMap="PermissionResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Permission_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectPermissionLimit" resultMap="PermissionResultMap">
		SELECT
		<include refid="Permission_Column_List" /> 
	    FROM permission
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertPermission" parameterType="com.yuedi.entity.Permission" useGeneratedKeys="true" keyProperty="id">
    insert into permission (id, name, value)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertPermissionSelective" parameterType="com.yuedi.entity.Permission" useGeneratedKeys="true" keyProperty="id">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuedi.entity.Permission" >
    update permission
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuedi.entity.Permission" >
    update permission
    set name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getPermissionByUserId" parameterType="Long" resultMap="PermissionResultMap">
  	SELECT p.*
		FROM permission p, role_permission rp, role r, role_userinfo ru
		WHERE p.id=rp.permission_id AND rp.role_id=r.id AND r.id=ru.role_id AND ru.userInfo_id=#{value}
  </select>
  
  <select id="selectUnassignButtonByRoleId" parameterType="java.lang.Long" resultMap="PermissionResultMap">
		SELECT p.ID, p.name, p.value
			FROM permission p 
			WHERE p.ID NOT IN (SELECT rp.permission_id FROM role_permission rp WHERE rp.role_id = #{roleId})
	    	order by p.ID
  </select>
  <select id="selectAssignButtonByRoleId" parameterType="java.lang.Long" resultMap="PermissionResultMap">
		<![CDATA[
		    SELECT rp.id,p.name,p.value
			FROM role_permission rp
			INNER JOIN permission p ON p.ID = rp.permission_id
			WHERE rp.role_id = #{roleId}
		]]>
  </select>
</mapper>