<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.workFlow.ProcessNodeDao" >
  <resultMap id="ProcessNodeResultMap" type="com.yuedi.entity.workFlow.ProcessNode" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />
    <result column="process_id" property="processId" jdbcType="BIGINT" />
    <result column="node_order" property="nodeOrder" jdbcType="BIGINT" />
    <result column="approver" property="approver" jdbcType="BIGINT" />
    <result column="approval_name" property="approvalName" jdbcType="VARCHAR" />
    <result column="approval_time" property="approvalTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="ProcessNode_Column_List" >
    id, node_name, process_id, node_order, approver, approval_name, approval_time
  </sql>
  <select id="selectProcessNode" resultMap="ProcessNodeResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="ProcessNode_Column_List" />
    from process_node
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteProcessNode" parameterType="java.lang.Long" >
    delete from process_node
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yuedi.entity.workFlow.ProcessNode" useGeneratedKeys="true" keyProperty="id">
    insert into process_node (id, node_name, process_id, 
      node_order, approver, approval_name, 
      approval_time)
    values (#{id,jdbcType=BIGINT}, #{nodeName,jdbcType=VARCHAR}, #{processId,jdbcType=BIGINT}, 
      #{nodeOrder,jdbcType=BIGINT}, #{approver,jdbcType=BIGINT}, #{approvalName,jdbcType=VARCHAR}, 
      #{approvalTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuedi.entity.workFlow.ProcessNode" useGeneratedKeys="true" keyProperty="id">
    insert into process_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nodeName != null" >
        node_name,
      </if>
      <if test="processId != null" >
        process_id,
      </if>
      <if test="nodeOrder != null" >
        node_order,
      </if>
      <if test="approver != null" >
        approver,
      </if>
      <if test="approvalName != null" >
        approval_name,
      </if>
      <if test="approvalTime != null" >
        approval_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="nodeOrder != null" >
        #{nodeOrder,jdbcType=BIGINT},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=BIGINT},
      </if>
      <if test="approvalName != null" >
        #{approvalName,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null" >
        #{approvalTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateProcessNodeSelective" parameterType="com.yuedi.entity.workFlow.ProcessNode" >
    update process_node
    <set >
      <if test="nodeName != null" >
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        process_id = #{processId,jdbcType=BIGINT},
      </if>
      <if test="nodeOrder != null" >
        node_order = #{nodeOrder,jdbcType=BIGINT},
      </if>
      <if test="approver != null" >
        approver = #{approver,jdbcType=BIGINT},
      </if>
      <if test="approvalName != null" >
        approval_name = #{approvalName,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null" >
        approval_time = #{approvalTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateProcessNode" parameterType="com.yuedi.entity.workFlow.ProcessNode" >
    update process_node
    set node_name = #{nodeName,jdbcType=VARCHAR},
      process_id = #{processId,jdbcType=BIGINT},
      node_order = #{nodeOrder,jdbcType=BIGINT},
      approver = #{approver,jdbcType=BIGINT},
      approval_name = #{approvalName,jdbcType=VARCHAR},
      approval_time = #{approvalTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getProcessNode" resultMap="ProcessNodeResultMap" parameterType="com.yuedi.entity.workFlow.ProcessNode" >
  	select 
    <include refid="ProcessNode_Column_List" />
    from process_node
    where 1=1
    <if test="processId != null">
    	process_id = #{processId}
    </if>
    <if test="nodeOrder != null">
    	node_order = #{nodeOrder}
    </if>
    <if test="approver != null">
    	approver = #{approver}
    </if>
  </select>
</mapper>