<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.ResourceInfoDao" >
  <resultMap id="BaseResultMap" type="com.yuedi.entity.ResourceInfo" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ResourceCode" property="resourcecode" jdbcType="VARCHAR" />
    <result column="DisplayName" property="displayname" jdbcType="VARCHAR" />
    <result column="ResourceName" property="resourcename" jdbcType="VARCHAR" />
    <result column="Brand_ID" property="brandId" jdbcType="BIGINT" />
    <result column="Series_ID" property="seriesId" jdbcType="BIGINT" />
    <result column="ResourceType" property="resourcetype" jdbcType="INTEGER" />
    <result column="ExpandedName" property="expandedname" jdbcType="VARCHAR" />
    <result column="ResourceSize" property="resourcesize" jdbcType="BIGINT" />
    <result column="ResourceURL" property="resourceurl" jdbcType="VARCHAR" />
    <result column="Tags" property="tags" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="UseScene" property="usescene" jdbcType="VARCHAR" />
    <result column="IsDeleteFlag" property="isdeleteflag" jdbcType="BIT" />
    <result column="CreaterId" property="createrid" jdbcType="BIGINT" />
    <result column="CreaterName" property="creatername" jdbcType="VARCHAR" />
    <result column="CreateDateTime" property="createdatetime" jdbcType="TIMESTAMP" />
    <result column="lyrics" property="lyrics" jdbcType="VARCHAR" />
    <result column="resource_team" property="resourceTeam" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ResourceCode, DisplayName, ResourceName, Brand_ID, Series_ID, ResourceType, ExpandedName, 
    ResourceSize, ResourceURL, Tags, Remark, UseScene, IsDeleteFlag, CreaterId, CreaterName, 
    CreateDateTime, lyrics, resource_team
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from resourceinfo
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from resourceinfo
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yuedi.entity.ResourceInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into resourceinfo (ID, ResourceCode, DisplayName, 
      ResourceName, Brand_ID, Series_ID, 
      ResourceType, ExpandedName, ResourceSize, 
      ResourceURL, Tags, Remark, 
      UseScene, IsDeleteFlag, CreaterId, 
      CreaterName, CreateDateTime, lyrics, 
      resource_team)
    values (#{id,jdbcType=BIGINT}, #{resourcecode,jdbcType=VARCHAR}, #{displayname,jdbcType=VARCHAR}, 
      #{resourcename,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, #{seriesId,jdbcType=BIGINT}, 
      #{resourcetype,jdbcType=INTEGER}, #{expandedname,jdbcType=VARCHAR}, #{resourcesize,jdbcType=BIGINT}, 
      #{resourceurl,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{usescene,jdbcType=VARCHAR}, #{isdeleteflag,jdbcType=BIT}, #{createrid,jdbcType=BIGINT}, 
      #{creatername,jdbcType=VARCHAR}, #{createdatetime,jdbcType=TIMESTAMP}, #{lyrics,jdbcType=VARCHAR}, 
      #{resourceTeam,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yuedi.entity.ResourceInfo" >
    insert into resourceinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="resourcecode != null" >
        ResourceCode,
      </if>
      <if test="displayname != null" >
        DisplayName,
      </if>
      <if test="resourcename != null" >
        ResourceName,
      </if>
      <if test="brandId != null" >
        Brand_ID,
      </if>
      <if test="seriesId != null" >
        Series_ID,
      </if>
      <if test="resourcetype != null" >
        ResourceType,
      </if>
      <if test="expandedname != null" >
        ExpandedName,
      </if>
      <if test="resourcesize != null" >
        ResourceSize,
      </if>
      <if test="resourceurl != null" >
        ResourceURL,
      </if>
      <if test="tags != null" >
        Tags,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="usescene != null" >
        UseScene,
      </if>
      <if test="isdeleteflag != null" >
        IsDeleteFlag,
      </if>
      <if test="createrid != null" >
        CreaterId,
      </if>
      <if test="creatername != null" >
        CreaterName,
      </if>
      <if test="createdatetime != null" >
        CreateDateTime,
      </if>
      <if test="lyrics != null" >
        lyrics,
      </if>
      <if test="resourceTeam != null" >
        resource_team,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resourcecode != null" >
        #{resourcecode,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null" >
        #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="resourcename != null" >
        #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="seriesId != null" >
        #{seriesId,jdbcType=BIGINT},
      </if>
      <if test="resourcetype != null" >
        #{resourcetype,jdbcType=INTEGER},
      </if>
      <if test="expandedname != null" >
        #{expandedname,jdbcType=VARCHAR},
      </if>
      <if test="resourcesize != null" >
        #{resourcesize,jdbcType=BIGINT},
      </if>
      <if test="resourceurl != null" >
        #{resourceurl,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="usescene != null" >
        #{usescene,jdbcType=VARCHAR},
      </if>
      <if test="isdeleteflag != null" >
        #{isdeleteflag,jdbcType=BIT},
      </if>
      <if test="createrid != null" >
        #{createrid,jdbcType=BIGINT},
      </if>
      <if test="creatername != null" >
        #{creatername,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null" >
        #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lyrics != null" >
        #{lyrics,jdbcType=VARCHAR},
      </if>
      <if test="resourceTeam != null" >
        #{resourceTeam,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuedi.entity.ResourceInfo" >
    update resourceinfo
    <set >
      <if test="resourcecode != null" >
        ResourceCode = #{resourcecode,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null" >
        DisplayName = #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="resourcename != null" >
        ResourceName = #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        Brand_ID = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="seriesId != null" >
        Series_ID = #{seriesId,jdbcType=BIGINT},
      </if>
      <if test="resourcetype != null" >
        ResourceType = #{resourcetype,jdbcType=INTEGER},
      </if>
      <if test="expandedname != null" >
        ExpandedName = #{expandedname,jdbcType=VARCHAR},
      </if>
      <if test="resourcesize != null" >
        ResourceSize = #{resourcesize,jdbcType=BIGINT},
      </if>
      <if test="resourceurl != null" >
        ResourceURL = #{resourceurl,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        Tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="usescene != null" >
        UseScene = #{usescene,jdbcType=VARCHAR},
      </if>
      <if test="isdeleteflag != null" >
        IsDeleteFlag = #{isdeleteflag,jdbcType=BIT},
      </if>
      <if test="createrid != null" >
        CreaterId = #{createrid,jdbcType=BIGINT},
      </if>
      <if test="creatername != null" >
        CreaterName = #{creatername,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null" >
        CreateDateTime = #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lyrics != null" >
        lyrics = #{lyrics,jdbcType=VARCHAR},
      </if>
      <if test="resourceTeam != null" >
        resource_team = #{resourceTeam,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuedi.entity.ResourceInfo" >
    update resourceinfo
    set ResourceCode = #{resourcecode,jdbcType=VARCHAR},
      DisplayName = #{displayname,jdbcType=VARCHAR},
      ResourceName = #{resourcename,jdbcType=VARCHAR},
      Brand_ID = #{brandId,jdbcType=BIGINT},
      Series_ID = #{seriesId,jdbcType=BIGINT},
      ResourceType = #{resourcetype,jdbcType=INTEGER},
      ExpandedName = #{expandedname,jdbcType=VARCHAR},
      ResourceSize = #{resourcesize,jdbcType=BIGINT},
      ResourceURL = #{resourceurl,jdbcType=VARCHAR},
      Tags = #{tags,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      UseScene = #{usescene,jdbcType=VARCHAR},
      IsDeleteFlag = #{isdeleteflag,jdbcType=BIT},
      CreaterId = #{createrid,jdbcType=BIGINT},
      CreaterName = #{creatername,jdbcType=VARCHAR},
      CreateDateTime = #{createdatetime,jdbcType=TIMESTAMP},
      lyrics = #{lyrics,jdbcType=VARCHAR},
      resource_team = #{resourceTeam,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectSeriesNameById" resultMap="BaseResultMap" parameterType="com.yuedi.entity.ResourceInfo">
  	select id as seriesId,name from series where id=${seriesId}
  </select>
</mapper>