<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuedi.dao.RolePermissionDao">
	<resultMap type="rolePermission" id="rolePermissionResult">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result property="roleId" column="role_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="menuId" column="menu_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
	</resultMap>
	
	<insert id="insertRolePermission" parameterType="rolePermission" useGeneratedKeys="true">
		INSERT INTO role_permission (role_id, permission_id)
		VALUES
	      (#{roleId}, #{permissionId})
	</insert>
	<delete id="deleteRolePermissionById" parameterType="java.lang.Long">
		DELETE FROM role_permission WHERE id=#{id}
	</delete>
</mapper>