<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuedi.dao.SalerUsero2cDao">    
	<resultMap type="salerUsero2c" id="userSellerResult">
		<result property="id" column="ID" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="salerId" column="saler_ID" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="sellerId" column="seller_ID" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="userId" column="user_ID" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="isDeleteFlag" column="IsDeleteFlag" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result property="createDateTime" column="CreateDateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>
	<select id="findClientUserCount" parameterType="salerUserinfo"  resultType="java.lang.Long">
		select COUNT(ID) from saler_usero2c u 
		WHERE 1=1
		<if test="salerId != null">
			AND u.saler_ID = #{salerId}
		</if>
		<if test="beginDateTime != null">
			AND u.createDateTime &gt;= #{beginDateTime}
		</if>
		<if test="endDateTime != null">
			AND u.createDateTime &lt; #{endDateTime}
		</if>
	</select>
</mapper>