<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuedi.dao.SalerUserinfoDao">    
	<resultMap type="salerUserinfo" id="salerUserinfoResult">
		<result property="id" column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="userId" column="userId" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="userName" column="userName" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="sallerId" column="sallerId" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result property="cardCode" column="sallerCardCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result property="createDateTime" column="createDateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	    <result property="createrName" column="createrName" jdbcType="VARCHAR" javaType="java.lang.String"/>
	    <result property="updateDateTime" column="updateDateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	    <result property="upadateName" column="upadateName" jdbcType="VARCHAR" javaType="java.lang.String"/>
	</resultMap>
	<insert id="insertSalerUserinfo" parameterType="salerUserinfo" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO saler_userinfo
				(userId, 
				sallerId,
				sallerCardCode,
				createDateTime, 
				createrName, 
				updateDateTime,
				upadateName
				)
		VALUES
				(#{userId}, 
				#{sallerId},
				#{cardCode},
				#{createDateTime}, 
				#{createrName}, 
				#{updateDateTime}, 
				#{upadateName}
				)
	</insert>
	<select id="findSalerUserinfoBySellIdAndDate" resultMap="salerUserinfoResult">
		select u.ID as userId,s.ID as sallerId,u.UserName,s.CardCode,su.createDateTime,su.updateDateTime from saler_userinfo su 
		inner join userinfo u on su.userId = u.ID
		inner join saler s on su.sallerId = s.ID
		WHERE 1=1
		<if test="params.sellerId != null">
			AND s.SellerID = #{params.sellerId}
		</if>
		<if test="params.beginDateTime != null and params.endDateTime != null">
			AND su.createDateTime between #{params.beginDateTime} and #{params.endDateTime}
		</if>
		order by s.CardCode
	</select>
	<select id="findSalerUserinfoBySalerId" parameterType="java.lang.Long"  resultMap="salerUserinfoResult">
	    <![CDATA[
		Select 
		ID,userId,sallerId,createDateTime,createrName,updateDateTime,upadateName,isUsed
		from saler_userinfo
		where sallerId=#{sallerId} 
	    ]]>
	</select>
	<update id="updateUserInfoBySalerId"   parameterType="salerUserinfo">
	    UPDATE saler_userinfo SET updateDateTime=#{updateDateTime},isUsed='0'
	    WHERE sallerId = #{sallerId}
	</update>
	<select id="selectSalerBySalerID" parameterType="java.lang.Long" resultMap="salerUserinfoResult">
		select u.UserName from saler_userinfo t3 INNER JOIN userinfo u on t3.userId = u.ID  where t3.isUsed = '1' and t3.sallerId = #{sallerId}
	</select>
</mapper>