<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuedi.dao.SellerDao">
	<resultMap type="seller" id="sellerResult">
		<result property="id" column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
		<result property="createrId" column="createrId" jdbcType="BIGINT" javaType="java.lang.Long" />
		<result property="parentId" column="parentId" jdbcType="BIGINT" javaType="java.lang.Long" />
		<result property="orgCode" column="orgCode" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="name" column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="createrName" column="createrName" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="businessScope" column="BusinessScope" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="tel" column="tel" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="province" column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="area" column="area" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="city" column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="officeAddr" column="officeAddr" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="obligationOrg" column="obligationOrg" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="regAddr" column="regAddr" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="charterCode" column="charterCode" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="remark" column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="category" column="category" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result property="authentication" column="authentication" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result property="charterEffectiveDate" column="charterEffectiveDate" jdbcType="DATE" javaType="java.util.Date" />
		<result property="createDateTime" column="createDateTime" jdbcType="DATE" javaType="java.util.Date" />
		<result property="charterExpiredDate" column="charterExpiredDate" jdbcType="DATE" javaType="java.util.Date" />
		<result property="sellersign" column="sellersign" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result property="longitude" column="longitude" jdbcType="DOUBLE" />
		<result property="latitude" column="latitude" jdbcType="DOUBLE" />
			
		<result property="selledcnt" column="selledcnt" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result property="loginName" column="login_name" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="userInfoId" column="userInfoId" jdbcType="BIGINT" javaType="java.lang.Long" />
		
		<result property="areaName" column="sheng" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result property="areaName1" column="shi" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result property="areaName2" column="qu" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result property="messageCount" column="messageCount" jdbcType="BIGINT" javaType="java.lang.Long" />
	</resultMap>
	
	<select id="getMyseller" parameterType="seller" resultMap="sellerResult">
		select * from seller;
	</select>
	<select id="selectSellerById" parameterType="seller" resultMap="sellerResult">
	    <![CDATA[
		SELECT 
		t1.Area,t1.Authentication,t1.BusinessScope,t1.Category,t1.CharterCode,
	    t1.CharterEffectiveDate,t1.CharterExpiredDate,t1.City,t1.CreateDateTime,
	    t1.CreaterId,t1.CreaterName,t1.ID,t1.IsDeleteFlag,t1.`Name`,t1.ObligationOrg,
	    t1.OfficeAddr,t1.OrgCode,t1.ParentID,t1.Province,t1.RegAddr,t1.Remark,t1.Tel,t1.sellersign,
	    t1.longitude,t1.latitude,t1.login_name,t1.selledcnt,t1.img,t1.messageCount,
		t2.area_name as 'sheng',
		t3.area_name as 'shi',
		t4.area_name as 'qu'
	    from seller as t1 INNER JOIN as_areas as t2
		ON t1.Province=t2.id
		INNER JOIN as_areas as t3 on t1.City=t3.id
		INNER JOIN as_areas as t4 ON t1.Area=t4.id
			where t1.id=#{id} and IsDeleteFlag = 0
	    ]]>
	</select>
	<select id="selectSellerLimit" resultMap="sellerResult">
		SELECT
		t1.Area,t1.Authentication,t1.BusinessScope,t1.Category,t1.CharterCode,
		t1.CharterEffectiveDate,t1.CharterExpiredDate,t1.City,t1.CreateDateTime,
		t1.CreaterId,t1.CreaterName,t1.ID,t1.IsDeleteFlag,t1.`Name`,t1.ObligationOrg,
		t1.OfficeAddr,t1.OrgCode,t1.ParentID,t1.Province,t1.RegAddr,t1.Remark,t1.Tel,
		t1.sellersign,t1.longitude,t1.latitude,t1.login_name,t1.selledcnt,t1.messageCount,
		t2.area_name as 'sheng',
		t3.area_name as 'shi',
		t4.area_name as 'qu'
		from seller as t1 INNER JOIN as_areas as t2
		ON t1.Province=t2.id
		INNER
		JOIN as_areas as t3 on t1.City=t3.id
		INNER JOIN as_areas as t4 ON
		t1.Area=t4.id
		WHERE 1=1
		<if test="params.parentId != null">
			AND t1.parentId = #{params.parentId}
		</if>
		<if test="params.name != null">
			AND t1.name like #{params.name}
		</if>
		<if test="params.Sheng != null">
			AND t1.Province = #{params.Sheng}
		</if>
		<if test="params.Shi != null">
			AND t1.City = #{params.Shi}
		</if>
		<if test="params.category != null">
			AND t1.Category = #{params.category}
		</if>
		<if test="params.sellersign != null">
			AND t1.sellersign = #{params.sellersign}
		</if>
		<if test="params.selledcnt != null">
			AND t1.selledcnt = #{params.selledcnt}
		</if>
		<if test="params.userInfoId != null">
			AND t1.createrId = #{params.userInfoId}
		</if>
		order by t1.id desc
	</select>
	<select id="selectAllianceBusiness" resultMap="sellerResult">
		Select id,name from SELLER where sellersign != 0 and selledCnt != 0
	</select>
	<select id="selectAllSeller" parameterType="seller" resultMap="sellerResult">
		Select id,name from SELLER where sellersign = #{sellersign} and selledCnt = #{selledcnt}
	</select>
	<select id="selectSimpleSeller" resultMap="sellerResult">
		Select id,name from SELLER where SelledCnt=1 and sellersign = 0
	</select>
	<insert id="insertSeller" parameterType="seller"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO seller
		(Area,
		BusinessScope,
		Category,
		CharterCode,
		City,
		CreaterId,
		CreaterName,
		IsDeleteFlag,
		Name,
		ObligationOrg,
		OfficeAddr,
		OrgCode,
		parentId,
		Province,
		RegAddr,
		Remark,
		Tel,
		authentication,
		CharterEffectiveDate,
		CharterExpiredDate,
		CreateDateTime,
		sellersign,
		longitude,
		latitude,
		login_name,
		selledcnt,
		img,
		userInfoId,
		messageCount)
		VALUES
		(#{area},
		#{businessScope},
		#{category},
		#{charterCode},
		#{city},
		#{createrId},
		#{createrName},
		#{isDeleteFlag},
		#{name},
		#{obligationOrg},
		#{officeAddr},
		#{orgCode},
		#{parentId},
		#{province},
		#{regAddr},
		#{remark},
		#{tel},
		#{authentication},
		#{charterEffectiveDate},
		#{charterExpiredDate},
		#{createDateTime},
		#{sellersign},
		#{longitude},
		#{latitude},
		#{loginName},
		#{selledcnt},
		#{img},
		#{userInfoId},
		#{messageCount})
	</insert>
	<update id="updateSellerBySellerId" parameterType="seller">
		UPDATE SELLER SET Name = #{name}, Area = #{area},BusinessScope=
		#{businessScope},Category=#{category},
		city = #{city}, tel = #{tel}, authentication = #{authentication}, orgCode
		= #{orgCode},
		officeAddr = #{officeAddr}, charterCode = #{charterCode}, remark = #{remark},
		province=#{province}
		,sellersign=#{sellersign},longitude=#{longitude},latitude=#{latitude},selledcnt = #{selledcnt},img=#{img},messageCount={messageCount}
		WHERE id = #{id}
	</update>
	<update id="updateSellerMessageCountBySellerId" parameterType="seller">
		UPDATE SELLER SET messageCount = #{messageCount}
		WHERE id = #{id}
	</update>
	<delete id="deleteSellerbyId" parameterType="Long">
		DELETE FROM SELLER
		WHERE ID = #{id} ;
	</delete>
</mapper>