<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.fm.VideoDao" >
  <resultMap id="videoResultMap" type="com.yuedi.entity.fm.Video" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="VideoInfo" property="videoInfo" jdbcType="VARCHAR" />
    <result column="void_title" property="voidTitle" jdbcType="VARCHAR" />
    <result column="void_index" property="voidIndex" jdbcType="INTEGER" />
    <result column="Video_Url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="Is_open" property="isOpen" jdbcType="TINYINT" />
    <result column="VideoImg" property="videoImg" jdbcType="VARCHAR" />
    <result column="Ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectVideoByPrimaryKey" resultMap="videoResultMap"
		parameterType="java.lang.Integer">
		select *
		from yuedi_fm_Video
		where id = #{id}
	</select>
	<delete id="deleteVideoByPrimaryKey" parameterType="java.lang.Integer">
		delete from yuedi_fm_Video
		where id = #{id}
	</delete>
	<insert id="insertVideo" parameterType="com.yuedi.entity.fm.Video"
		useGeneratedKeys="true" keyProperty="id">
		 insert into yuedi_fm_Video (videoInfo, video_Url,videoImg,Is_open,ctime,create_user,void_title,void_index)
   	    	 values (#{videoInfo}, #{videoUrl},#{videoImg},#{isOpen},#{ctime},#{createUser},#{voidTitle},#{voidIndex})
	</insert>
	<update id="updateVideoByPrimaryKey" parameterType="com.yuedi.entity.fm.Video">
		 update yuedi_fm_Video
   	 		 set videoInfo = #{videoInfo},
     		 video_Url = #{videoUrl},
      		 Is_open = #{isOpen},
      		 videoImg=#{videoImg},
      		 ctime = #{ctime},
      		 void_title = #{voidTitle},
      		 create_user = #{createUser},
      		 void_index = #{voidIndex}
    	where id = #{id}
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.yuedi.entity.fm.Video" >
    update yuedi_fm_video
    <set >
      <if test="voidTitle != null" >
        void_title = #{voidTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoInfo != null" >
        VideoInfo = #{videoInfo,jdbcType=VARCHAR},
      </if>
      <if test="voidIndex != null" >
        void_index = #{voidIndex,jdbcType=INTEGER},
      </if>
      <if test="videoUrl != null" >
        Video_Url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null" >
        Is_open = #{isOpen,jdbcType=BIT},
      </if>
      <if test="videoImg != null" >
        VideoImg = #{videoImg,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        Ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="selectVideoLimit" resultMap="videoResultMap">
		select * from yuedi_fm_Video order by void_index
	</select>
</mapper>