<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedi.dao.workFlow.WorkProcessDao" >
  <resultMap id="workProcessResultMap" type="com.yuedi.entity.workFlow.WorkProcess" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="form_id" property="formId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="workProcess_Column_List" >
    id, name, form_id, create_time, create_id, remark
  </sql>
  <select id="selectWorkProcess" resultMap="workProcessResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="workProcess_Column_List" />
    from work_process
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteWorkProcess" parameterType="java.lang.Long" >
    delete from work_process
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yuedi.entity.workFlow.WorkProcess" useGeneratedKeys="true" keyProperty="id">
    insert into work_process (id, name, form_id, 
      create_time, create_id, remark
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{formId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=VARCHAR}, #{createId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuedi.entity.workFlow.WorkProcess" useGeneratedKeys="true" keyProperty="id">
    insert into work_process
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateWorkProcessSelective" parameterType="com.yuedi.entity.workFlow.WorkProcess" >
    update work_process
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateWorkProcess" parameterType="com.yuedi.entity.workFlow.WorkProcess" >
    update work_process
    set name = #{name,jdbcType=VARCHAR},
      form_id = #{formId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 
  <select id="selectWorkProcessByPage" parameterType="MyPage" resultMap="workProcessResultMap">
  	select * from work_process order by id desc
  </select>
   -->
</mapper>